<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
    <link href="/css/styles-reg.css" rel="stylesheet">
    <title>Registro - Animalia</title>
    <%- include ('../partials/head') %>
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

    <!-- Aquí comienza el main FORMULARIO REGISTRO-->
    <main>
        <h2 class="titulo">Ingresá tus datos para crear tu cuenta en Animalia</h2>

                <!-- Errores en carga formulario -->
                <div class="errores"> <ul></ul></></div>
                <div class="container">
                    <div class="izquierda">
                     <br><br><br>
                     <picture>
                         <img src="/images/perroRegister.jpg" alt="" data-testid="hero-image" class="foto">
                     </picture>
                     <br><br><br>
                 
                 <p>¿Ya tenés cuenta cuenta con nosotros?  </p>
                 <a href="./login" class="irALogin">Iniciar sesión</a>
                
                 
                 <br>
                    <br>
                    </div>
     
        <div class="formulario">
            
             <!-- ERRORS -->
           <% if (locals.errors) { %>
            <div class="errors__container">
              <ul>
                <% for (let error in errors) {%>
                  <li class="error-msg__text"><%= errors[error].msg%></li>
                <% } %>
              </ul>
            </div>
            <% } %> 
            <!-- ERRORS END -->
            
            <form action="/users/register" method="POST" enctype="multipart/form-data">

              

                    <div class="form-floating formulario register">
                        <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Ingrese su nombre" required>
                        <label for="floatingInput">Nombre y apellido</label>
                        <!--<% if (locals.errors && errors.email) { %>
                            <div class="error">
                                <%= errors.name.msg %>
                            </div>
                        <% } %>-->



                  


                    <div class="form-floating formulario register">
                        <input type="text" name="user" class="form-control" id="floatingInput" placeholder="Ingrese su usuario" minlength="4" maxlength="12" required>
                        <label for="floatingInput">usuari@</label>
                        <% if (locals.errors && errors.user) { %>
                            <div class="error">
                                <%= errors.user.msg %>
                            </div>
                        <% } %>

                
               

                    <div class="form-floating formulario login">
                        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Ej: usuario@animalia.com.ar" required>
                        <label for="floatingInput">Correo electrónico</label>
                        <% if (locals.errors && errors.email) { %>
                            <div class="error">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>

                    
                <!--
                <p><input type="date" name="fecha" value="2020-03-19" required>
                    <label for="birth">Fecha de nacimiento</label>
                        <br>
                    </input></p> -->
                                     

                    <div class="form-floating formulario login">
                        <input type="text" name="address" class="form-control" id="floatingInput" placeholder="Ingrese su dirección" required>
                        <label for="floatingInput">Dirección</label>
                        <% if (locals.errors && errors.address) { %>
                            <div class="error">
                                <%= errors.address.msg %>
                            </div>
                        <% } %>



                    <!-- Pendiente boton para mostrar contraseña -->
                    <div class="form-floating formulario login">
                        <input type="password" name="password" class="form-control" id="floatingInput" placeholder="Al menos 6 caracteres alfanuméricos" required>
                        <label for="floatingInput">Contraseña</label>
                        <% if (locals.errors && errors.password) { %>
                            <div class="error">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>


              
                    <div class="form-floating formulario login">
                        <input type="password" name="confirmPassword" class="form-control" id="floatingInput" placeholder="Confirmá tu contraseña" required>
                        <label for="floatingInput">Repetir contraseña</label>
                        <% if (locals.errors && errors.password) { %>
                            <div class="error">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>


                        <div class="formulario-general-login">
                            <p>Foto de perfil</p>
                            <input type="file" name="thumbnail">
                        </div>div>
                        <!--lo que sigue teníamos - pruebo con lo de arriba
                            <div class="form-floating formulario login">
                            <input type="file" name="avatar" class="form__input" id="floatingInput" accept=".jpg" multiple></p><br>
                            <label for="avatar"></label>
                            <% if (locals.errors && errors.password) { %>
                                <div class="error">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>-->
                    
                    <br>
                    <button type="submit" value="Crear cuenta">Crear cuenta</button>
            </form>
            <br>
            <br>
            <br>
        </div>
        <!--Aqui termina el formulario de registro MARIANO-->
    </main>

    <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
    <%- include('../partials/footer.ejs') %>

    <!-- Validaciones-->
    <script src="/js/js_register.js"> 
    </script>

</body>

</html>
