<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ('../partials/head') %>

        <link href="/css/styles-ProdDetails.css" rel="stylesheet">
        <title>Detalle de producto - Animalia</title>
</head>

<body>
    <!-- Aquí comienza el header: logo, navbars y campo de búsqueda -->
    <%- include('../partials/header.ejs') %>

        <!-- Aquí comienza el main -->
        <main>
            <section>
                <br>
                <h3 class="titulares">Detalle del producto elegido</h3>
                <article>
                    <div class="detail__container">
                        <div class="card__detail">
<<<<<<< HEAD
                            <img class="detail_prod__imag" src="<%= producto.image%>" title="<%=producto.name%>">
                            <p class="nombre">
                                <%= producto.name%>
                            </p>
                            <br>
                            <p class="precios">ANTES: $<%=producto.price%>
                            </p>
=======
                            <img class="detail_prod__imag" src="<%= producto.image%>" title="<%= producto.name%>"></a>
                            <p class="descripciones"><%= producto.name%> </p>
                            </a>
                            <p class="precios">ANTES: $<%= producto.price%></p>
>>>>>>> 9040a26e70a88b34546c16386b799242f9e60cc5
                            <br>
                            <p class="descuentos">¡AHORA: $<%= producto.discount%>!</p>
                            <br>
                            <label for="Cantidad" class="menu__cantidad">Cantidad:</label>
                            <select name="Cantidad" id="Cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div>
                                <br>
                                <button class="Agregar al carrito" type="submit">Agregar al carrito</button>
                                <br>
                            </div>
                            <br>
                            <div class="cuotas__container">
                                <i class="fa-brands fa-cc-visa"></i>
                                <i class="fa-brands fa-cc-amex"></i>
                                <i class="fa-brands fa-cc-apple-pay"></i>
                                <i class="fa-brands fa-cc-paypal"></i>
                                <p class="descripciones">
                                    <%= producto.description%>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </main>

        <!-- Aquí comienza el footer: lista de correo, links de información y redes sociales -->
        <%- include('../partials/footer.ejs') %>

</body>
</html>