<!-- AQUÍ VA EL FORMULARIO PARA AGREGAR PRODUCTO -->
<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
  <link href="/css/productCreate.css" rel="stylesheet">
  <title>Creación de producto - Animalia</title>
  <%- include ('../partials/head') %>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <div class="formulario">

      <section class="section_container create_product-section">
        <article class="article_container product_article">
        
          <div>
            <h2 class="titulares">Formulario para creación de productos en stock</h2>
          </div>
          <form action="/products/create/confirm" method="POST" enctype="multipart/form-data"
            class="create__product-form">
            <!-- Nombre del producto -->
            <br>
            <div>
              <label for="nombre" class="form__label">Nombre del producto:</label>
              <input type="text" name="name" placeholder="Complete este campo" class="form__input"></input>
              <br>
            </div>
            <br>

            <!-- Categoria del producto -->
            <div>
              <label for="category" class="form__label" placeholder="Seleccione una categoria">Categoria:</label>
              <select name="category" id="productCategory" class="form__input">
                <option value="" selected disabled>Seleccione una categoria</option>
                <option value="1">Perros</option>
                <option value="2">Gatos</option>
                <option value="3">Aves</option>
                <option value="4">Roedores</option>
                <option value="5">Peces</option>
                <option value="6">Ofertas</option>
              </select>
            </div>
            <br>
  <!-- Subcategorías del producto -->
            <div>
              <label for="subcategory" class="form__label" placeholder="Seleccione una subcategoria">Subcategoria:</label>
              <select name="subcategory" id="productSubcategory" class="form__input">
                <option value="" selected disabled>Seleccione una subcategoria</option>
                <option value="1">Alimentos</option>
                <option value="2">Farmacia</option>
                <option value="3">Cuuidados y belleza</option>
                <option value="4">Juguetes</option>
                <option value="5">Otros artículos</option>

              </select>
            </div>
            <br>
            <!-- Img del producto -->
            <div>
              <label for="thumbnail" class="form__label">Elige una imagen</label>
              <br>
              <input type="file" name="thumbnail" id="productImg" class="form__input" accept="image/*"
                value="<%= locals.oldData? oldData.productImg : null%>"><br>
            </div>
            <br>
            <!-- Precio del producto -->
            <div>
              <label for="price" class="form__label">Precio:</label>
              <input type="text" name="price" id="productPrice" class="form__input" placeholder="$"></input> <br>
            </div>
            <br>
            <!--Precio del producto con descuento-->
            <div>
              <label for="discount" class="form__label">Precio con descuento:</label>
              <input type="text" name="discount" id="Priced" class="form__input" placeholder="$"></input>
              <br>
            </div>
                        <!-- Stock del producto -->
                        <div>
                          <label for="stock" class="form__label">Stock:</label>
                          <input type="text" name="stock" id="stock" class="form__input" placeholder="cantidad"></input> <br>
                        </div>
                        <br>
            <!-- Descripción del producto -->
            <div>
              <br>
              <br>
              <label for="productDescription" class="form__label">Escriba una descripción del producto</label>
              <br>
              <br>
              <textarea cols="65" rows="5" type="text" name="productDescription"
                placeholder="Escriba aqui los detalles del producto."><%= locals.oldData? oldData.productDescription : null%></textarea>
            </div>
            <br>

            <!--<input type="submit" value="Crear">ESTE TENIAN LOS CHICOS-->
            <div class="buttons">
              <form action="/productCreate/%=product.id %>" method="GET" style="display: inline-flex">
                <button class="botonCrear" type="Submit">Crear producto</button>
              </form>
              <br>
              <form action="/products/" style="display: inline-flex">
                <button class="botonCancelar" type="Submit">Cancelar</button>
              </form>
            </div>
          </form>
        </article>
      </section>
    </div>
  </main>
  <%- include('../partials/footer.ejs') %>

  <script src="/js/js_productCreate.js"> 
  </script>
</body>

</html>